*.tmp*
*.xmlold
target
bin
db4o.db
*.iml
.idea
.classpath
.project
.settings
.externalToolBuilders
*.log
.DS_Store
*.log.zip
production.js
nbcore-common/test-output/
nbcore-webapp/src/main/webapp/ui/nb_doc.html
nbcore-webapp/src/main/webapp/ui/admin_doc.html
nbcore-webapp/src/main/webapp/ui/apps/nb/docs/
nbcore-webapp/src/main/webapp/ui/apps/admin/docs/
nbcore-webapp/test-output/
nbcore-webapp/nb-configuration.xml
.*.sw?
*.esproj
testresults.xml
test_db_id*.properties
META-INF
.pmd
git.properties
